NEXT_PUBLIC_BACKEND_URL=http://localhost:5000
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_IDENTITY_CONTRACT=deployed_address
NEXT_PUBLIC_VAULT_CONTRACT=deployed_address
NEXT_PUBLIC_EMERGENCY_CONTRACT=deployed_address
NEXT_PUBLIC_VERIFIER_CONTRACT=deployed_address
