PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/lifevault
AI_SERVICE_URL=http://localhost:8000
RPC_URL=http://127.0.0.1:8545
PRIVATE_KEY=hardhat_default_private_key
IDENTITY_CONTRACT=deployed_address
VAULT_CONTRACT=deployed_address
EMERGENCY_CONTRACT=deployed_address
VERIFIER_CONTRACT=deployed_address
JWT_SECRET=testsecret
